.footer {
    padding: 100px 0;
    font-size: 30px;

    @media (min-width: 1000px) {
        font-size: 20px; /* no */
    }

    .copyright {
        color: #333;
        font-weight: bold;
        letter-spacing: 6px;
    }
}
