body {
    margin: 0;
    font-family: $font-famliy;

    &[data-page="home"] {
        background-color: #f8f8f8;
    }
}

a {
    color: #333;
    text-decoration: none;

    &:active {
        text-decoration: none;
    }
}
