<%- partial('partial/head') %>
<%- partial('partial/header') %>

<div class="page-content">
    <div class="container">
        <div class="archive">
        </div>
    </div>
</div>

<%- partial('partial/footer') %>
<%- partial('partial/foot') %>
