<footer class="footer text-center">
    <div class="container">
        <section class="copyright">
            <span>INFINI DESIGN</span>
            <span>&copy; <%= theme.startyear %></span>
        </section>
    </div>
</footer>
