<footer class="footer text-center">
    <div class="container">
        <section class="copyright">
            <a href="/"><span>INFINI.DESIGN</span></a>
            <span>&copy; <%= theme.startyear %></span>
        </section>
    </div>
</footer>
