<footer class="footer text-center">
    <div class="container">
        <section class="copyright">
            <a href="/" class="QanelasSoft"><span>INFINI.DESIGN</span></a>
            <span>&copy; </span>
            <span class="QanelasSoft"><%= theme.startyear %></span>
        </section>
    </div>
</footer>
